.main_container {
    width: 100%;
    background-color: #343434;
    left: 0;
    top: 0;
    position: fixed;


}

.navbar_container {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #343434;
    color: #fff;
    margin-left: 1rem;
    padding: 10px;
    height: 1rem;
    top: 0;


}

.divider {
    flex: 1;
}

.menu_icon {
    margin-left: 3rem;
    padding: 50px;

}

.navbar_item_container {
    display: flex;
    align-items: center;

}

.navbar_item_container_1 {
    display: flex;


}

.navbar_item {
    margin-left: 4rem;
    font-weight: 550;
    color: #fff;
    margin-bottom: 10px;

}

.navbar_item:hover {
    color: #ffc107;
    cursor: pointer;
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
}
.navbar_item:active{
    color: #6e0a3c;
    cursor: pointer;

}

.navbar_search {
    text-align: center;
    margin-right: 1rem;
    width: 20rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 20px;

}

.icon {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;


}
.icon:hover{
    color: #c995b0;
    cursor: pointer;
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
}

.searchBar {
    border: white 1px solid;
    margin-bottom: 10px;
    margin-right: 2rem;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .navbar_search {
        display: none;
    }

    .navbar_item_container {
        display: none
    }

    .navbar_container {
        height: 3rem;
    }

}

@media (min-width: 768px) {
    .menu_icon {
        display: none;
    }

    .navbar_container {
        display: none;
    }
}